<nav class="navbar">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" href="{{ .Site.BaseURL }}">
				<img src="{{ .Site.BaseURL }}images/gitea.png" alt="{{ .Site.Title }}">
			</a>
			{{ if eq .Site.Params.search "nav" }}
				<!-- this works together with assets/js/search.js from the docs.gitea.io -->
				<form action="{{ "search" | absLangURL }}/">
					<input id="search-query" name="s" placeholder="Search" />
				</form>
			{{ end }}
			<span class="navbar-burger burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
              <span></span>
              <span></span>
              <span></span>
            </span>
		</div>
		<div class="navbar-menu" id="navMenu">
			<div class="navbar-end">
				{{ partial "toplinks.html" . }}
			</div>
		</div>
		<div class="navbar-background" id="navbar-background"></div>
	</div>
</nav>